.company-pitch-container {
  margin-top: 10rem;
  padding-bottom: 5rem;
}

.company-pitch-container {
  position: relative;
  overflow: hidden; /* Hide the overflow for a smooth loop */
  width: 100vw; /* Full viewport width */
  height: auto; /* Adjust to fit the wave height */
}

.wave-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wave-wrapper {
  display: flex;
  /* width: 200%; Twice the width for seamless looping */
  width: calc(200% + 1px); /* Slightly extend the wrapper to prevent gaps */

  transform: translate3d(0, 0, 0); /* Starting position */
}

.wave {
  width: 50%; /* Each wave occupies 50% of the container */
  object-fit: cover; /* Maintain aspect ratio */
  /* height: 6rem; */
  height: 60px;
  /* width: 2520px; */
}

#wave-2 {
  position: relative;
  left: px;
}

.inverse-wave-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  transform: rotate(180deg); /* Flip the waves upside down */

}


.black-hr {
  background-color: black;
}

.white-hr {
  background-color: white;
}

.dotted-hr-subscription {
  border: none!important;
  height: 1px!important;
  background: #000!important;
  background: repeating-linear-gradient(90deg,#000,#000 6px,transparent 6px,transparent 12px)!important;
}

.intro-call-btn {
  font-weight: 600;
  font-size: 0.85rem;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .wave-container {
    height: 50px; /* Adjust wave container height */
    display: none;
  }

  .inverse-wave-container {
    display: none;
  }

  .wave-wrapper {
    height: 50px;
  }

  .wave {
    height: 50px;
  }
}



@media (max-width: 576px) {
  .wave-container {
    height: 40px; /* Smaller container height */
    display: none;
  }

  .inverse-wave-container {
    display: none;
  }

  .wave-wrapper {
    height: 40px;
  }

  .wave {
    height: 40px;
  }
}