.company-pitch-container {
  margin-top: 10rem;
  padding-bottom: 5rem;
}

.company-pitch-container {
  position: relative;
  overflow: hidden; /* Hide the overflow for a smooth loop */
  width: 100%; /* Full viewport width */
  height: auto; /* Adjust to fit the wave height */
}

/* Outer wave container */
.wave-container {
  position: relative;
  width: 100%;
  overflow: hidden;   /* Hide horizontally overflowing wave */
}

/* The flex wrapper that holds the two SVGs side by side */
.wave-wrapper {
  display: flex;
  width: 200%;         /* Two copies of the wave, each 100% wide */
  transform: translate3d(0, 0, 0); /* Improves performance on some devices */
  margin: 0;
  padding: 0;
}

/* The wave images themselves */
.wave {
  display: block;      /* Remove any inline spacing gaps */
  width: 100%;         /* Responsive: Each wave is full container width */
  height: auto;
  margin: 0;
  padding: 0;
}

#wave-2 {
  position: relative;
  left: -1.9px;
}

.inverse-wave-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  transform: rotate(180deg); /* Flip the waves upside down */

}


.black-hr {
  background-color: black;
}

.white-hr {
  background-color: white;
}

.dotted-hr-subscription {
  border: none!important;
  height: 1px!important;
  background: #000!important;
  background: repeating-linear-gradient(90deg,#000,#000 6px,transparent 6px,transparent 12px)!important;
}

.intro-call-btn {
  font-weight: 600;
  font-size: 0.85rem;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .wave-container {
    height: 50px; /* Adjust wave container height */
    display: none;
  }

  .inverse-wave-container {
    display: none;
  }

  .wave-wrapper {
    height: 50px;
  }

  .wave {
    height: 50px;
  }
}



@media (max-width: 576px) {
  .wave-container {
    height: 40px; /* Smaller container height */
    display: none;
  }

  .inverse-wave-container {
    display: none;
  }

  .wave-wrapper {
    height: 40px;
  }

  .wave {
    height: 40px;
  }
}