.faqs-container {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding: 5rem 4rem;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  opacity: 1;
}

.faqs-heading,
.accordion-header {
  font-size: 4rem;
  margin-bottom: 8px;
  color: #333;
}

.faqs-heading {
  padding-left: 0.8rem;
}

.accordion-item {
  border: none; /* Remove default borders */
  background-color: #f5f5f5 !important;
}

.accordion-button {
  background: none !important; /* Ensure no background */
  font-size: 1.5rem;
  font-weight: 500;
  color: #333; /* Text color consistent */
  border: none; /* Remove default border */
  padding: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  outline: none !important; /* Remove outline */
  box-shadow: none !important; /* Remove box shadow */
  transition: transform 0.2s ease; /* Smooth transitions for animations */
}

.accordion-body {
  font-size: 0.9rem;
  color: #555;
  padding: 15px 20px;
}

.accordion-hr {
  margin: 0;
  border: none;
  border-top: 2px solid #000;
  width: 97.4%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1500px) {
  .faqs-container {
    width: 93%;
  }
}

@media (max-width: 1200px) {
  .faqs-container {
    width: 90%;
  }
}

@media (max-width: 665px) {
  .faqs-container {
    padding: 2rem 1rem;
  }

  .accordion-header button {
    font-size: 1.3rem;
  }
}

@media (max-width: 479px) {
  .accordion-header button {
    font-size: 1.125rem;
  }
}