.portfolio-container{
  width: 80%;
}

.portfolio-heading{
  margin-bottom: 7rem;
}

.check-out {
  color: #a3a3a3;
}

.our-portfolio {
  margin-left: 15%;
}

.our-portfolio,
.check-out {
  font-size: 4rem;
  font-weight: 600;
}

.portfolio-image img {
  aspect-ratio: 576 / 401;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  width: 100%;
  overflow: hidden;
  margin-bottom: 2rem; /* Adds space between images */
}

.portfolio-column-2 {
  position: relative; /* Allows it to move independently */
  top: -100px; /* Initially move it a bit higher */
}

.pitch-section {
  background-color: #2a2a2a;
  color: #fdfdfd;
  padding-top: 5rem;
  padding-bottom: 8rem;
  padding-left: 8%;
  padding-right: 8%;
}

.pitch-heading-container h1 {
  font-size: 4rem;
}

.pitch-heading-2 {
  margin-left: 10%;
}

.pitch-row {
  margin-top: 3rem;
}

.pitch-img {
  background-color: #ecffa0;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  display: flex;
  position: relative;
  border-radius: 6px;
}

@media (max-width: 1330px) {
  .portfolio-container {
    width: 90%;
  }
}

@media(max-width:991px) {

  .portfolio-container {
    margin-bottom: 2rem;
  }

  .portfolio-heading {
    margin-bottom: 4rem;
  }
  .portfolio-image {
    margin-bottom: 0;
  }
}

@media(max-width:500px){
  .pitch-heading-container {
    padding: 0;
  }

  .check-out, .our-portfolio {
    font-size: 3rem;
  }
}