.flex-subscription-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center headings on top of each other */
  position: relative;
  text-align: left; /* Ensure default left alignment */
}

.top-heading {
  font-size: 4.5rem; /* Adjust font size */
  font-weight: 400;
  margin: 0;
  position: relative;
  left: -10px; /* Slightly move to the left */
}

.bottom-heading {
  font-size: 4.5rem; /* Adjust font size */
  font-weight: 400;
  color: #000; /* Black for the main text */
  margin: 0;
  position: relative;
  right: -5rem; /* Slightly move to the right */
  text-align: left; /* Text should remain aligned left */
}

.bottom-heading span,
.top-heading span {
  color: #b0b0b0; /* Light gray for "for you" */
  font-weight: 400; /* Adjust weight for distinction */
}

.subscription-card-container {
  width: 100%;
}

.standard-card {
  background-color: #ecffa0;; /* Light yellow */
  border-radius: 10px;
  border: none;
}

.plus-card {
  background-color: #8882ee;; /* Light purple */
  border-radius: 10px;
  color: white;
}

.card h3 {
  font-size: 1.5rem;
}

.card ul li {
  margin-bottom: 0.5rem;
}

.card ul li.text-muted {
  text-decoration: line-through;
}

.card hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card .btn {
  border-radius: 50px;
  padding: 10px 20px;
}

.card .btn-dark {
  background-color: #000;
  color: #fff;
}

.card .btn-light {
  background-color: #fff;
  color: #000;
}


@media (max-width:665px) {

  .flex-subscription-container {
    max-width: 100%;
  }

  .top-heading {
    left: 0;
    text-align: left;
    margin-left: 1rem;
  }

  .bottom-heading {
    right: 0;
    text-align: left;
    max-width: 100%;
    width: 100%;
    margin-left: 2rem;

  }

  .top-heading, .bottom-heading {
    font-size: 3rem;
  }
}