html {
  scroll-behavior: smooth;
}

#work-process-heading {
  font-size: 2rem;
}

.custom-icon {
  padding: 10px; /* Padding on all sides */
  background-color: #fff; /* White background */
  border-radius: 18%; /* Optional: make the background circular */
  font-size: 24px; /* Increase the size of the icon */
  font-size: 2rem;
  color: black !important;
}

/* Ensure all cards take the same height */
.proc-card-row {
  display: flex;
  flex-wrap: wrap;
}

.proc-card {
  padding: 1rem 1.5rem;
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.proc-card-1 {
  background-color: #ecffa0;
  border-style: none;
}

.proc-card-2 {
  background-color: #d1def8;
  border-style: none;
}

.proc-card-3 {
  background-color: #8882ee;;
  border-style: none;
}

.proc-card-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.custom-icon {
  padding: 8px; /* Adds padding around the icon */
  background-color: #fff; /* White background */
  border-radius: 8px; /* Rounded background */
  font-size: 32px; /* Increase icon size */
}

.proc-step-number {
  font-size: 1.2rem;
  font-weight: normal; /* Make the text not bold */
  text-align: right; /* Align the text to the right */
}

.proc-text {
  font-size: 1.1rem;
  margin-top: auto;
  margin-top: 4rem;
}

.header-col-two {
  margin-left: auto;
}

.mkt-text-container {
  width: 90%;
}

.mkt-text {
  font-size: 1.2rem;
}

.learn-more-btn {
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  padding: 0.7rem 2rem;
}

.work-process-container {
    margin-top: 8rem;
}

.work-about-us-container {
    margin-bottom: 10rem;
}

.work-about-us-container h2 {
    width: 75%;
}